BODY {
	FONT-SIZE: 12px; CURSOR: default; FONT-FAMILY: arial
}
TD {
	FONT-SIZE: 12px; CURSOR: default; FONT-FAMILY: arial
}
A {
	COLOR: #000000
}
A:hover {
	COLOR: #000000
}
INPUT {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: arial; HEIGHT: 21px; BACKGROUND-COLOR: #ffffff
}
TEXTAREA {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; WIDTH: 500px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
.subtitle {
	FONT-SIZE: 20px; COLOR: #000000
}
.title {
	FONT-SIZE: 28px; COLOR: #000000
}
.tlo {
	BACKGROUND-COLOR: #ffffff
}
.white {
	BACKGROUND-COLOR: #ffffff
}
.ramka {
	BACKGROUND-COLOR: #000000
}
.cien {
	BACKGROUND-COLOR: #ffffff
}
.tytul_ramki {
	FONT-SIZE: 14px; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.stopka {
	FONT-SIZE: 12px; COLOR: #000000
}
